<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administrar Bebidas</title>
  <link rel="stylesheet" href="/css/admrestaurante.css">
</head>
<body>
<header class="header">
  <nav class="navbar">
    <div class="navbar-left">
      <h1 th:text="'Bienvenido, ' + ${nombreRestaurante}">Bienvenido, [Nombre del Restaurante]</h1>
    </div>
    <div class="navbar-right">
      <a href="/restaurantes/admin-restaurante" class="nav-link">Platos</a>
      <a href="#" class="nav-link">Bebidas</a>
      <a href="/servicio/admin-servicios" class="nav-link">Servicios</a>
      <form th:action="@{/restaurantes/api/restaurantes/logout}" method="post" style="display: inline;">
        <button type="submit" class="logout-btn">Cerrar Sesión</button>
      </form>
    </div>
  </nav>
</header>

<main class="container">
  <section class="admin-section">
    <div class="section-header">
      <h3>Bebidas</h3>
      <div class="search-container">
        <input type="text" id="search-input" class="search-input" placeholder="Buscar bebidas...">
        <a href="/registro-bebida" class="btn-add"><span>+</span></a>
      </div>
    </div>
    <table class="styled-table" id="bebidas-table">
      <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Tipo</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="bebida : ${bebidas}">
        <td><img th:src="'data:image/jpeg;base64,' + ${bebida.imagenBase64}" alt="Imagen de la Bebida" class="bebida-img"></td>
        <td th:text="${bebida.nombre}"></td>
        <td th:text="${bebida.descripcion}"></td>
        <td th:text="${bebida.precio}"></td>
        <td th:text="${bebida.stock}"></td>
        <td th:text="${bebida.tipo}"></td>
        <td>
          <a th:href="@{/bebida/editar/{id}(id=${bebida.id})}" class="btn btn-secondary">Editar</a>
          <form th:action="@{/bebida/eliminar/{id}(id=${bebida.id})}" method="post" style="display:inline;">
            <input type="hidden" name="id" th:value="${bebida.id}">
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</main>

<script>
  // Funcionalidad del buscador
  document.getElementById('search-input').addEventListener('input', function() {
      let searchValue = this.value.toLowerCase();
      let rows = document.querySelectorAll('#bebidas-table tbody tr');

      rows.forEach(row => {
          let nombre = row.querySelector('td:nth-child(2)').innerText.toLowerCase();
          if (nombre.includes(searchValue)) {
              row.style.display = '';
          } else {
              row.style.display = 'none';
          }
      });
  });
</script>
</body>
</html>
