<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar Servicio</title>
  <link rel="stylesheet" href="/css/Registro_servicio_css.css">
  <link rel="stylesheet" href="/css/admrestaurante.css">
</head>
<body>
<header class="header">
  <nav class="navbar">
    <div class="navbar-left">
      <h1>Registrar Servicio</h1>
    </div>
    <div class="navbar-right">
      <a href="/servicio/admin-servicios" class="nav-link">Regresar</a>
    </div>
  </nav>
</header>

<main class="container">
  <section class="admin-section">
    <form th:action="@{/servicio/editar/{id}(id=${servicio.id})}" method="post" enctype="multipart/form-data">
      <div>
        <label for="nombre">Nombre:</label>
        <input class="controls" type="text" id="nombre" name="nombre" required>
      </div>
      <div>
        <label for="precio">Precio:</label>
        <input class="controls" type="number" step="0.01" id="precio" name="precio" required>
      </div>
      <div>
        <label for="descripcion">Descripción:</label>
        <textarea class="controls" id="descripcion" name="descripcion" required></textarea>
      </div>
      <div>
        <label for="archivoimagen">Imagen:</label>
        <input class="controls" type="file" id="archivoimagen" name="archivoimagen" accept="image/*">
      </div>
      <button class="btn-primary" type="submit" >Registrar Servicio</button>
    </form>
  </section>
</main>
</body>
</html>
