<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Plato</title>
    <link rel="stylesheet" href="/css/Registro_plato_css.css">
    <link rel="stylesheet" href="/css/admrestaurante.css">

</head>
<body>
<header class="header">
    <nav class="navbar">
        <div class="navbar-left">
            <h1>Registrar Plato</h1>
        </div>
        <div class="navbar-right">
            <a href="/restaurantes/admin-restaurante" class="nav-link">Regresar</a>
        </div>
    </nav>
</header>

<main class="container">
    <section class="admin-section">
        <form th:action="@{/comida/registrar}" method="post" enctype="multipart/form-data">
            <div>
                <label for="nombre">Nombre:</label>
                <input  class="controls"type="text" id="nombre" name="nombre" required>
            </div>
            <div>
                <label for="precio">Precio:</label>
                <input  class="controls"type="number" step="0.01" id="precio" name="precio" required>
            </div>
            <div>
                <label for="cantidad">Cantidad:</label>
                <input  class="controls"type="number" id="cantidad" name="cantidad" required>
            </div>
            <div>
                <label for="descripcion">Descripción:</label>
                <textarea class="controls" id="descripcion" name="descripcion" required></textarea>
            </div>
            <div>
                <label for="tipo">Tipo:</label>
                <select id="tipo" name="tipo">
                    <option class="controls" th:each="tipoPlato : ${T(com.example.demo.entity.TipoPlato).values()}"
                            th:value="${tipoPlato}"
                            th:text="${tipoPlato}"></option>
                </select>
            </div>
            <div>
                <label for="archivoimagen">Imagen:</label>
                <input class="controls" type="file" id="archivoimagen" name="archivoimagen" accept="image/*">
            </div>
            <button class="btn-primary" type="submit" >Registrar Plato</button>
        </form>
    </section>
</main>
</body>
</html>
