<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Bebida</title>
    <link rel="stylesheet" href="/css/Registro_bebida_css.css">
    <link rel="stylesheet" href="/css/admrestaurante.css">
    <link rel="icon" href="/img/Logo.png" type="image/png">
</head>
<body>
<header class="header">
    <nav class="navbar">
        <div class="navbar-left">
            <h1>Registrar Bebida</h1>
        </div>
        <div class="navbar-right">
            <a href="/bebida/admin-bebidas" class="nav-link">Regresar</a>
        </div>
    </nav>
</header>

<main class="container">
    <section class="admin-section">
        <form th:action="@{/bebida/registrar}" method="post" enctype="multipart/form-data">
            <div>
                <label for="nombre">Nombre:</label>
                <input class="controls" type="text" id="nombre" name="nombre" required>
            </div>
            <div>
                <label for="descripcion">Descripcion:</label>
                <input class="controls" type="text" id="descripcion" name="descripcion" required>
            </div>
            <div>
                <label for="precio">Precio:</label>
                <input class="controls" type="number" step="0.01" id="precio" name="precio" required>
            </div>
            <div>
                <label for="stock">Stock:</label>
                <input class="controls" type="number" id="stock" name="stock" required>
            </div>
            <div>
                <label for="tipo">Tipo:</label>
                <select id="tipo" name="tipo">
                    <option class="controls" th:each="tipo : ${T(com.proyecto.PlayApp.entity.TipoBebida).values()}"
                            th:value="${tipo}"
                            th:text="${tipo}"></option>
                </select>
            </div>
            <div>
                <label for="archivoimagen">Imagen:</label>
                <input class="controls" type="file" id="archivoimagen" name="archivoimagen" accept="image/*">
            </div>
            <button class="btn-primary" type="submit" >Registrar Bebida</button>
        </form>
    </section>
</main>
</body>
</html>